/* General styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f2f5f7;
    color: #333;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.container:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #0056b3;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Search Bar Styling */
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px 0 0 30px;
    font-size: 16px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #003d80;
}


/* Upload section styling */
.upload-section {
    text-align: center;
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin: 0 auto 15px;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003d80;
}

/* Compare section styling */
.compare-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.sample-section, .delta-section {
    flex: 1;
    min-width: 200px;
    min-height: 500px;
    padding: 15px;
    background-color: #f7f9fc;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.delta-section{
    min-height: auto;
}

.sample-section h3, .delta-section h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.sample-data, .delta-values {
    font-family: "Courier New", monospace;
    font-size: 14px;
    color: #444;
}

.delta-section {
    margin-top: 20px;
}

/* Highlighting color difference */
.highlight-danger {
    color: #ff4d4d;
    font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .compare-section {
        flex-direction: column;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .sample-section h3, .delta-section h3 {
        font-size: 16px;
    }

    .sample-data, .delta-values {
        font-size: 13px;
    }
}
